<h1> Student Form</h1>
<%= form_for @student do |s| %>
    <label> Student First Name: </label><br>
    <%= s.text_field :first_name %><br>
    <label> Student Last Name: </label><br>
    <%= s.text_field :last_name %></label><br>
    <%= s.submit %>
    <% end %>